@font-face {
  font-family: TwitterChirpExtendedHeavy;
  src: url(/fonts/chirp-extended-heavy-web.woff2) format('woff2');
  src: url(/fonts/chirp-extended-heavy-web.woff) format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(/fonts/chirp-regular-web.woff2) format('woff2');
  src: url(/fonts/chirp-regular-web.woff) format('woff');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(/fonts/chirp-medium-web.woff2) format('woff2');
  src: url(/fonts/chirp-medium-web.woff) format('woff');
  font-weight: 500;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(/fonts/chirp-bold-web.woff2) format('woff2');
  src: url(/fonts/chirp-bold-web.woff) format('woff');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}

@font-face {
  font-family: TwitterChirp;
  src: url(/fonts/chirp-heavy-web.woff2) format('woff2');
  src: url(/fonts/chirp-heavy-web.woff) format('woff');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}
