@use 'fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full bg-black font-twitter-chirp text-primary;
  }
}

@layer components {
  .trim-alt {
    @apply overflow-hidden text-ellipsis break-all [display:-webkit-box] [-webkit-line-clamp:1] [-webkit-box-orient:vertical];
  }

  .custom-button {
    @apply hover-animation rounded-full p-3 disabled:cursor-not-allowed disabled:brightness-50;
  }

  .hover-animation {
    @apply transition-colors hover:duration-200;
  }

  .custom-underline {
    @apply hover-animation underline decoration-transparent outline-none transition [text-decoration-thickness:1px] 
           hover:decoration-inherit focus-visible:decoration-inherit;
  }

  .smooth-tab {
    @apply outline-none transition focus-visible:ring-2 focus-visible:ring-white;
  }

  .blur-picture {
    @apply hover-animation smooth-tab rounded-full transition hover:brightness-75 active:brightness-100;
  }
}
