@use 'fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full font-twitter-chirp dark:bg-black dark:text-primary;
  }
}

@layer components {
  .custom-button {
    @apply hover-animation rounded-full p-3 disabled:cursor-not-allowed disabled:brightness-50;
  }

  .custom-underline {
    @apply underline decoration-transparent outline-none transition duration-200 [text-decoration-thickness:1px] 
           hover:decoration-inherit focus-visible:decoration-inherit;
  }

  .hover-animation {
    @apply transition-colors hover:duration-200;
  }

  .smooth-tab {
    @apply outline-none transition focus-visible:ring-2 focus-visible:ring-white;
  }

  .trim-alt {
    @apply overflow-hidden text-ellipsis break-all [display:-webkit-box] [-webkit-line-clamp:1] [-webkit-box-orient:vertical];
  }
}

@layer utilities {
}
